<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logger_path" value=".\Logfiles\Log.txt" />
    <!-- Service Bus specific app setings for messaging connections -->
    <add key="EventHubName" value="RaydonTrainingDataHub-01"/>
    <!-- key  :   ip++wcTtB2Q8Zc4mMTcalE12t1XZ34e9TWiTEskkJ9E= -->
    <!-- connection string:   Endpoint=sb://raydoneventhubnamespace-01.servicebus.windows.net/;SharedAccessKeyName=sa-policy-manage-demo;SharedAccessKey=ip++wcTtB2Q8Zc4mMTcalE12t1XZ34e9TWiTEskkJ9E= -->
    <!-- endpoint:  Endpoint=sb://raydoneventhubnamespace-01.servicebus.windows.net/; -->
    <!-- entity path:  EntityPath=RaydonTrainingDataHub-01 -->
    <add key="EventHubConnectionString" value="Endpoint=sb://raydoneventhubnamespace-01.servicebus.windows.net/;SharedAccessKeyName=sa-policy-manage-demo;SharedAccessKey=ip++wcTtB2Q8Zc4mMTcalE12t1XZ34e9TWiTEskkJ9E="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>